<!doctype html>
<html>

<head>
  <title>
    <%= json.project.title %>
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- Safari, you're the worst -->
  <meta name='format-detection' content='telephone=no'>
  <link rel="stylesheet" type="text/css" href="style.css">
  <%= t.include("partials/_head.html") %>
</head>

<body>

  <responsive-child class="map-container">
    <div class="outmost">
      <section class="chatter">
        <h1 class="graphic-hed">Diversity in King County neighborhoods</h1>
      </section>

      <div class="aspect-ratio-outer">
          <aside class="legend">
          <h3 class="legend-hed">Diversity index</h3>
          <p class="legend__note legend__note--left">Less diverse</p>
          <p class="legend__note legend__note--right">More diverse</p>
          <ul class="scale">
            <li>
              <div class="block" style="background-color: #f0f9e8"></div>
                <p>0-38.9</p>
            </li><!--
         --><li>
              <span class="block" style="background-color: #bae4bc"></span>
              <p>39-48.9</p>
            </li><!--
         --><li>
              <span class="block" style="background-color: #7bccc4"></span>
              <p>49-58.9</p>
            </li><!--
         --><li>
              <span class="block" style="background-color: #43a2ca"></span>
              <p>59-68.9</p>
            </li><!--
         --><li>
              <span class="block" style="background-color: #0868ac"></span>
              <p>69-79</p>
            </li>
          </ul>
        </aside>
        <div class="aspect-ratio-inner">

          <leaflet-map zoom=10>
            <tile-layer layer="cartoPositron"></tile-layer>
          </leaflet-map>

        </div>
      </div>

      <div class="caption-container">
        <div class="data-source">Source: U.S. census (2018)</div>
        <div class="art-credit">Hilary Fung / The Seattle Times</div>
      </div>
  </responsive-child>

  <script src="app.js"></script>
  <%= t.include("partials/_workHere.html") %>
</body>

</html>
